<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>CloudSizzle</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="description" content="SITE DESCRIPTION"/>
	<meta name="keywords" content=""/>
	<link rel="stylesheet" type="text/css" media="all" href="/static/styles/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/static/styles/styles.css" />
</head>
<body id="courses-page">
	<div id="wrapper">
		<div id="header">
			<img src="/static/graphics/logo_small.png" alt="" id="logo" />
			
			<ul class="main-nav">
				<li><a href="{% url home %}">Home</a></li>
				<li><a href="{% url profile %}">Profile</a></li>
				<li><a href="{% url courses %}">Courses</a></li>
			</ul>
			
			<ul class="main-nav" id="sub-nav">
				<li>Hello, {{ asi_session.username }}</li>
				<li><a href="/settings">Settings</a></li>
				<li><a href="{% url logout_user %}">Logout</a></li>
			</ul> <!-- /sub-nav -->
			
			
			<div id="search">
				<form method="post" action="#">
					<div>
						<input type="text" name="query" />
						<input type="hidden" name="submit" />
						<input type="image" src="/static/graphics/search_btn.png" name="submit_btn" value="Search" class="search-button" />
					</div>
				</form>
			</div> <!-- /search -->
		</div> <!-- /header -->
	{% block content %}		
	{% endblock content %}
	</div><!-- wrapper -->
	
	<div id="footer">
		<p>&copy; CloudSizzle 2010</p>
	</div> <!-- /footer -->
	
</body>
</html>
