<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<style type="text/css">
<!--
.SearchBar {
 font-size:12px; letter-spacing:2px;
 border-bottom:1px solid #dddddd;
 padding:5px 0px 3px 0px;
 margin:4px 0px 4px 0px;
 text-align:center;height:24px;
 FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f5f5f5', endColorStr='#eeeeee', gradientType='0');
}
.SearchBar input.textfield{ 
 border-top:1px solid #dddddd;border-left:1px solid #dddddd;
 border-right:1px solid #ffffff;border-bottom:1px solid #ffffff;
 BACKGROUND-COLOR: #f5f5f5;line-height:18px;
 width:240px;HEIGHT: 22px;
}
.SearchBar span.button{
 BORDER: 1px outset #f0f0f0; 
 BACKGROUND-COLOR: #fafafa;
 width:50px;HEIGHT: 20px;
 padding:3px 3px 2px 3px;
 cursor:hand;
}-->
</style>
<head> 
  <title>Kassi &ndash; favors and items to borrow, for friends and strangers!</title> 
 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <link href="/stylesheets/formatting.css?1252498182" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/layout.css?1252681050" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/epoch_styles.css?1219328280" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/smerf.css?1239802151" media="screen" rel="stylesheet" type="text/css" /> 
  
  <script src="/javascripts/prototype.js?1245138856" type="text/javascript"></script> 
<script src="/javascripts/effects.js?1245138856" type="text/javascript"></script> 
<script src="/javascripts/dragdrop.js?1245138856" type="text/javascript"></script> 
<script src="/javascripts/controls.js?1245138856" type="text/javascript"></script> 
<script src="/javascripts/application.js?1251891932" type="text/javascript"></script> 
  
    <script src="/javascripts/epoch_classes_en.js?1228839206" type="text/javascript"></script>
</head>
<body> 
<div id="wrapper"> 
    <div id="main"> 
      <div id="centering"> 
        <div id="top_links"> 
          <div id="top_links_left"> 
            <a href="/session/new?locale=fi"></a></div> 
          <div id="top_links_right"></div> 
        </div> 
        <div id="logo" class="no_hover"> 
          <a href="/"></a>        </div> 
        <div id="top_navi"> 
          <div id="search_and_navi_container"> 
            <div id="searchbar"> 
              <form action="/search" method="get">
              </form>  
            </div> 
            </div> 
        </div> 
        
  
        
          <div id="contents_full"> 
        
        
        <div id="announcement_div"> 
  
        
  
        
  
        
  
</div> 
        <div id="login_box"> 
  <div class="home_content_right_box_top"></div> 
  <div class="home_content_right_box_content"> 
    <h3 class="home_event_box_title">Login</h3> 
    <div class="solid_line_white"></div> 
    <form action="/session" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="jf71s/rgONtGI4xbAuGqZLI9o4FeVcA85dCS1jHjENo=" /></div>      <div class="login_form_br"></div> 
      <div class="login_padding"> 
        <b>Username:</b>
        <input class="login_text" id="username" name="username" type="text" />
        <br /> 
      </div> 
      <div class="login_padding"><br /> 
      </div> 
      <div class="login_padding">  
        <b>Password:</b>
        <input class="login_text" id="password" name="password" type="password" />
        <br /> 
      </div> 
      <div class="login_padding"><br /> 
      </div> 
      <div class="login_form_br"></div> 
      <div class="login_padding">  
        <input class="home_button home_button_narrow" name="commit" type="submit" value="Login" /> 
      </div>      
    </form>    <div class="login_form_br"></div> 
        <script language="javascript"> 
        <!--
                document.getElementById("username").focus()
        //-->
    </script> 
 
    <div class="login_padding"></div> 
    <div id="forgot_password"  style="display:none;"> 
      <div class="login_form_br"></div> 
<div class="login_padding"> 
  Give the email address that you have in your profile and you'll get instructions to reset your password.
</div> 
 
 <div class="login_padding">  
    <b>Email address:</b><br /> 
  </div> 
  <div class="login_padding"> 
    <input class="login_text" id="email" name="email" type="text" /><br /> 
  </div> 
  <div class="login_form_br"></div> 
  <div class="login_padding">  
    <input class="home_button home_button_narrow" name="commit" type="submit" value="Send" /> 
  </div> 
</form> 
    </div> 
  </div> 
  <div class="home_content_right_box_bottom"></div> 
</div> 
 
 
        <br /> 
        
        </div> 
        
        <!-- Feedback form was here--> 
      
      </div> 
    </div> 
    <div id="push"></div> 
</div>   
 
 
    </div> 
  </div>  
  
  
    <!-- The UserVoice script --> 
    <script type="text/javascript"> 
      var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
      document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script> 
    <script type="text/javascript"> 
    UserVoice.Tab.show({ 
      /* required */
      key: 
      host: 
      forum:  
      /* optional */
     
    })
    </script> 
  
     <!-- The google analytics script--> 
    <script type="text/javascript"> 
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script> 
    <script type="text/javascript"> 
    try {
    var pageTracker = _gat._getTracker("UA-10178914-1");
    pageTracker._trackPageview();
    } catch(err) {}</script> 
  
</body> 
 
</html> 