<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Kassi &ndash; favors and items to borrow, for friends and strangers!</title>
 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/stylesheets/formatting.css?1252498182" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/layout.css?1252681050" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/epoch_styles.css?1219328280" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/smerf.css?1239802151" media="screen" rel="stylesheet" type="text/css" />
  
  <script src="/javascripts/prototype.js?1245138856" type="text/javascript"></script>
<script src="/javascripts/effects.js?1245138856" type="text/javascript"></script>
<script src="/javascripts/dragdrop.js?1245138856" type="text/javascript"></script>
<script src="/javascripts/controls.js?1245138856" type="text/javascript"></script>
<script src="/javascripts/application.js?1251891932" type="text/javascript"></script>
  
    <script src="/javascripts/epoch_classes_en.js?1228839206" type="text/javascript"></script>
  
  
  
 
</head>
 
<body>
  <div id="wrapper">
    <div id="main">
      <div id="centering">
        <div id="top_links">
          <div id="top_links_left">
            <p>&nbsp;</p>
          </div>
          <div id="top_links_right"></div>
        </div>
        <div id="logo" class="no_hover">
          <a href="/"></a>        </div>
        <div id="top_navi">
          <div id="search_and_navi_container">
            <div id="searchbar"></div>
          </div>
        </div>
        
  
        
        <div id="contents_full">
        
        
        <div id="announcement_div">
  
        
  
        
  
        
  
</div>
        <div id="login_box">
  <div class="home_content_right_box_top"></div>
  <div class="home_content_right_box_content">
    <h3 class="home_event_box_title">Register as a Cloudsizzle user</h3>
    <div class="solid_line_white"></div>
    <form action="/people" class="new_person" id="new_person" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="hYliCySkV63aUi5px+wC8bZf7BLVwg+57pwiSkZabsg=" /></div>      <div class="login_form_br"></div>
      
      <div class="login_padding">
        Fields marked with star (*) are mandatory.
      </div>
      <div class="login_form_br"></div>
      <div class="login_padding">
        <b>Username*:</b>
        <input class="login_text" id="person_username" name="person[username]" size="30" type="text" value="" />
        <br />
      </div>
      <div class="login_padding"><br />
      </div>
      <div class="login_padding">  
        <b>Student number :</b>
        <input class="login_text" id="person_given_name" name="person[given_name]" size="30" type="text" value="" />
        <br />
      </div>
      <div class="login_padding"><br />
      </div>
      <div class="login_padding"><br />
      </div>
      <div class="login_padding"><br />
      </div>
      <div class="login_padding">  
        <b>Password*:</b>
        <input class="login_text" id="person_password" name="person[password]" size="30" type="password" value="" />
        <br />
      </div>
      <div class="login_padding"><br />
      </div>
      <div class="login_padding">  
        <b>Password again*:</b>
        <input class="login_text" id="person_password2" name="person[password2]" size="30" type="password" value="" />
        <br />
      </div>
      <div class="login_padding"><br />
      </div>
      <div class="login_padding">  
        <b>Email address*:</b>
        <input class="login_text" id="person_email" name="person[email]" size="30" type="text" value="" />
        <br />
      </div>
      <div class="login_padding"><br />
      </div>
      <div class="login_form_br"></div>  
      <div class="login_form_br"></div>
      <div class="login_padding">
        <div class="consent_checkbox">
          <div class="left_float">
            
            <input class="checkbox" id="person_consent" name="person[consent]" type="checkbox" value="1" />
          </div>
          <div class="left_float consent_label">  
            <label for="person_consent">I give my <a href="#" onclick="new Effect.toggle('consent', 'blind'); return false;">consent to the research study</a>*</label>
          </div>
        </div>     
      </div>
      <div class="login_form_br"></div>
      <div id="consent" class="consent" style="display:none;">
        <h1>WRITTEN CONSENT FOR RESEARCH STUDY</h1>
 
<div class="terms">
 
<p>
  By giving my consent I confirm my voluntary participation in a study entitled CloudSizzle, belonging to the CloudSizzle project.
</p>
<p>
I have read and understood the appended research description (link to research description), entitled “Information for Participants in Scientific Research”, and confirm that I have received sufficient information on the study and have been given the opportunity to ask questions about the study (and if the information affects the test I have been assured I will have this opportunity after the study).
</p>
<p>
 I am willing to follow the instructions provided by the researchers before, during and after the study.
</p>
<p>
  I consent to my personal data being processed in the ways described in the research description.
</p>
<p>
 I am aware of the fact that I have the right to cancel my participation in the test at any time without providing a reason, and to refuse to answer any questions asked before, during or after the study.
</p>
<p>
 The services in the study (CloudSizzle, etc.) may only be used in accordance with their terms of use. I accept the terms of use before I use the services.
</p>
 
<ul>
  <li>
    <a href="#" onclick="new Effect.toggle('research_info', 'blind'); return false;">Information for Participants in a Scientific Research</a>
    <br /><br />
    <div id="research_info" class="consent_inner" style="display:none;">
      <h1>Information for Participants in a Scientific Research</h1>
 
<p><b>This document describes the purpose, progress and other aspects of the study in question, as required by the ethical rules of research on human subjects, and as decreed by the HIIT Ethical Committee. The Ethical Committee has granted approval for human research to be carried out in the study for the purposes given in this document and for the methods listed in it.</b></p>
 


</div>
      </div>  
      <div class="login_form_br"></div>
      <div class="login_padding">  
        <input class="home_button home_button_narrow" name="commit" type="submit" value="Register" /> 
      </div>     
    </form>  </div>
  <div class="home_content_right_box_bottom"><br />
        </div>
</div>
 
 
        </div>
        
        <br />
        
      </div>
    </div>
    <div id="push"></div>
  </div>   
  <!-- The UserVoice script -->
<script type="text/javascript">
      var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
      document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
    UserVoice.Tab.show({ 
      /* required */
      key: ,
      host: , 
      forum: , 
      /* optional */
      alignment: ,
      background_color:, 
      text_color: ,
      hover_color: ,
      lang: 'en'
    })
    </script>
  
     <!-- The google analytics script-->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-10178914-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  
</body>
 
</html>

