{% extends "courselist/course_base.html" %}

{% block courselistings %}
		<h1>Courses in {{ department.name }}</h1>
		
		<table>
			<thead>
				<tr>
					<th>Course code</th>
					<th>Course name</th>
					<th>Friends</th>
				</tr>
			</thead>
			<tbody>
				{% for course in courses %}
				<tr>
					<td><a href="{{ department.code }}/{{ course.code }}">{{course.code}}</a></td>
					<td><a href="{{ department.code }}/{{ course.code }}">{{ course.name }}</a></td>
					<td>&nbsp;</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
{% endblock %}
