{% extends "base.html" %}

{% block content %}
	<ul id="breadcrumb">
		<li><a href="{% url frontpage.views.index %}">Home</a> &gt;</li>
		<li><a href="{% url courselist.views.list_faculties %}">Courses</a> &gt;</li>
		<li><a href="{% url courselist.views.list_departments faculty.code %}">{{ faculty.name }}</a> &gt;</li>
		<li><a href="{% url courselist.views.list_courses faculty.code department.code %}">{{ department.name }}</a> &gt;</li>
		<li>{{ course.code }} {{ course.name }}</li>
	</ul>

	<div id="course" class="rounded-corners">
		<div class="top-left"></div>
		<div class="top-right"></div>
		<div class="bottom-left"></div>
		<div class="bottom-right"></div>
		<div class="bottom-border"></div>
		<div class="left-border"></div>
		<div class="right-border"></div>
		
		<h1>{{ course.code }} {{ course.name }}</h1>
		<table>
			<tr>
				<th>Credits</th>
				<td>{% if course.extent %}{{ course.extent }} cr {% endif %}</td>
			</tr>
			<tr>
				<th>Teaching period</th>
				<td>{{ course.teaching_period }}</td>
			</tr>
			<tr>
				<th>Learning outcomes</th>
				<td>{{ course.learning_outcomes }}</td>
			</tr>
			<tr>
				<th>Content</th>
				<td>{{ course.content }}</td>
			</tr>
			<tr>
				<th>Prerequisites</th>
				<td>{{ course.prerequisites }}</td>
			</tr>
			<tr>
				<th>Study materials</th>
				<td>{{ course.study_materials }}</td>
			</tr>
		</table>
		
		<div class="options">
			<form method="post" action="#">
				<div>
					<input type="submit" name="submit" value="Plan to take course" class="button" />
				</div>
			</form>
			
			<form method="post" action="#">
				<div>
					<input type="submit" name="submit" value="Enroll to course" class="button" />
				</div>
			</form>
			
			<form method="post" action="recommend_course.php">
				<div>
					<input type="submit" name="submit" value="Recommend course" class="button" />
				</div>
			</form>
		</div>
		
		<h2>Friends taking this course</h2>
		
		<ul id="friend-list">
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
		</ul> <!-- /friend-list -->
		
	</div> <!-- /course -->
{% endblock %}
