{% extends "base.html" %}

{% block content %}
	<div id="content">
		<ul id="breadcrumb">
			<li><a href="{% url home %}">Home</a> &gt;</li>
			<li><a href="{% url courselist.views.list_faculties %}">Courses</a> &gt;</li>
			<li><a href="{% url courselist.views.list_departments faculty.code %}">{{ faculty.name }}</a> &gt;</li>
			<li><a href="{% url courselist.views.list_courses faculty.code department.code %}">{{ department.name }}</a> &gt;</li>
			<li>{{ course.code }} {{ course.name }}</li>
		</ul>
		
		<div id="course" class="rounded-corners">
			<div class="top-left"></div>
			<div class="top-right"></div>
			<div class="bottom-left"></div>
			<div class="bottom-right"></div>
			<div class="bottom-border"></div>
			<div class="left-border"></div>
			<div class="right-border"></div>
			<div class="button">
			    <a href="{% url recommendcourse course.code %}">Recommend course</a>
			</div>
		</div>
		
		<h2>Friends taking this course</h2>
		
		<ul id="friend-list">
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
			<li><a href="#"><img src="/static/images/profile_picture_small.jpg" alt="" />mmeikalaine</a></li>
		</ul> <!-- /friend-list -->
		
	</div> <!-- /course -->
{% endblock %}
