/*
center the content
*/
#cont  {
width: 1024px;
margin: 0 auto;
border: 1px solid #000;
overflow: hidden;
}

#logo {
width: 70px;
height: 70px;
background-color: blue;
float: left;
margin: 20 0 0 0;
}

#header #login {
position: relative;
float: right;

}

#header {
float: left;
}

#header ul#nav {
float: left;
border: 1px solid #000;
}

#header ul#nav li {
display: inline;
margin-right: 10px;
}

#header #search {
float: right;
}

#content {
float: left;
}

#content #register {
margin: 200px auto 0 auto;
border: 1px solid #000;
width: 50%;
}

#content #register  th {
vertical-align: top;
}

#footer {
float: left;
}

.bg-blue {
background-color: blue;
]
