<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


	<title>CloudSizzle</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="imagetoolbar" content="no">
	<meta name="description" content="CloudSizzle">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" media="all" href="courses_department_files/reset.css">
	<link rel="stylesheet" type="text/css" media="all" href="courses_department_files/styles.css">
</head><body id="courses-page">
	<div id="wrapper">
		<div id="header">
			<img src="courses_department_files/logo_small.png" alt="" id="logo">
			
			<ul class="main-nav">
				<li><a href="http://lyrion.net/cloudsizzle/home.php">Home</a></li>
				<li><a href="http://lyrion.net/cloudsizzle/profile.php">Profile</a></li>
				<li><a href="http://lyrion.net/cloudsizzle/courses.php">Courses</a></li>
			</ul> <!-- /main-nav -->
			
			<ul class="main-nav" id="sub-nav">
				<li><a href="http://lyrion.net/cloudsizzle/general_info.php">Settings</a></li>
				<li><a href="#">Logout</a></li>
			</ul> <!-- /sub-nav -->
			
			
			<div id="search">
				<form method="post" action="search.php">
					<div>
						<input name="query" type="text">
						<input name="submit" type="hidden">
						<input src="courses_department_files/search_btn.png" name="submit_btn" value="Search" class="search-button" type="image">
					</div>
				</form>
			</div> <!-- /search -->
		</div> <!-- /header -->
		
		<div id="content">	<ul id="breadcrumb">
		<li><a href="http://lyrion.net/cloudsizzle/home.php">Home</a> &gt;</li>
		<li><a href="http://lyrion.net/cloudsizzle/courses.php">Courses</a> &gt;</li>
		<li><a href="http://lyrion.net/cloudsizzle/courses_faculty.php">Faculty of Information and Natural Sciences</a> &gt;</li>
		<li>Department of Information and Computer Science</li>
	</ul>
	
	<div id="courses" class="rounded-corners">
		<div class="top-left"></div>
		<div class="top-right"></div>
		<div class="bottom-left"></div>
		<div class="bottom-right"></div>
		<div class="bottom-border"></div>
		<div class="left-border"></div>
		<div class="right-border"></div>
		
		<h1>Department of Information and Computer Science</h1>
		
		<ul class="pagination">
			<li><a href="#">&lt; Previous</a></li>
			<li><a href="#">1</a></li>
			<li>…</li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li class="selected"><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li>…</li>
			<li><a href="#">53</a></li>
			<li><a href="#">Next &gt;</a></li>
		</ul>
		
		<ul>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a> - 3 friends</li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a></li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a></li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a></li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a> - 2 friends</li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a></li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a></li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a></li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a> - 4 friends</li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a></li>
			<li><a href="http://lyrion.net/cloudsizzle/course.php">T-61.5060 Algorithmic methods of data mining P</a></li>
		</ul>
		
		<ul class="pagination">
			<li><a href="#">&lt; Previous</a></li>
			<li><a href="#">1</a></li>
			<li>…</li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li class="selected"><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li>…</li>
			<li><a href="#">53</a></li>
			<li><a href="#">Next &gt;</a></li>
		</ul>
		
	</div> <!-- /courses -->
		</div> <!-- /content -->
		
	</div><!-- wrapper -->
	
	<div id="footer">
		<p>© CloudSizzle 2010</p>
	</div> <!-- /footer -->
	
</body></html>