{% extends "frontpage/profile_base.html" %}

{% block title %}CloudSizzle | Profile | {{ profile_user.username }} | Friends{% endblock title %}

{% block profile-content %}
    <h1>{{ profile_user.username }}'s friends</h1>
    
    {% if friends %}
        <p class="results">{{ friends|length }} friend{{ friends|pluralize }} in total</p>
    {% else %}
        <p class="results">{{ profile_user.username }} does not currently have any friends</p>
    {% endif %}
    
    <div id="friends">
        
        {% for friend in friends %}
            <div class="friend{% if forloop.last %} last{% endif %}">
                <form method="post" action="#">
                    <div>
                        <input name="friend_id" value="{{ friend.user_id }}" type="hidden">
                        <input name="remove" value="Remove" class="button" type="submit">
                    </div>
                </form>
                
                <a href="{% url profile friend.user_id %}"><img src="../../../static/graphics/profile_picture_small.jpg" alt=""></a>
                <h2><a href="{% url profile friend.user_id %}">{{ friend.username }}</a></h2>
                <p>FIXME mutual courses</p>
                <p>FIXME mutual friends</p>
                
            </div> <!-- /friend -->
        {% endfor %}
        
        {% if requests %}
        <h1>Pending friend requests</h1>
        {% endif %}
        {% for request in requests %}
            <div class="friend{% if forloop.last %} last{% endif %}">
                <form method="post" action="{% url addfriend request.user_id %}">
                    <div>
                        <input name="friend_id" value="{{ request.user_id }}" type="hidden">
                        <input name="remove" value="Accept" class="button" type="submit">
                    </div>
                </form>
                
                <a href="{% url profile request.user_id %}"><img src="../../../static/graphics/profile_picture_small.jpg" alt=""></a>
                <h2><a href="{% url profile request.user_id %}">{{ request.username }}</a></h2>
                <p>FIXME mutual courses</p>
                <p>FIXME mutual friends</p>
                
            </div> <!-- /friend -->
        {% endfor %}
        
    </div> <!-- /friends -->
{% endblock profile-content %}
