{% extends "frontpage/profile_base.html" %}
{% block profile-content %}
			<h1>Username's courses</h1>
			
			<div class="left-col">
				<ul id="courses-sub-menu">
					<li><a href="{% url plannedcourses %}">Planned courses</a></li>
<!--					<li><a href="{% url registrations %}">Registrations</a></li>
					<li><a href="{% url completedstudies %}">Completed studies</a></li> -->
					<li class="selected"><a href="{% url friendscourses %}">Friends' courses</a></li>
				</ul>
			</div>
			
			<div class="right-col">
				<h2>Friend's courses</h2>
				
				<table>
					<tr>
						<th>Course code</th>
						<th>Course name</th>
						<th>Credits</th>
						<th>Friends</th>
					</tr>
					{% for course in courses %}
					<tr {% if forloop.counter|divisibleby:2 %} class="even"{% endif %}>
						<td><a href="{% url show_course course.faculty course.department course.code %}">{{ course.code }}</a></td>
						<td><a href="{% url show_course course.faculty course.department course.code %}">{{ course.name }}</a></td>
						<td>{{ course.extent }} cr</td>
						<td>{{ course.friendcount }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
{% endblock profile-content %}
