<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>CloudSizzle</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="description" content="SITE DESCRIPTION"/>
	<meta name="keywords" content=""/>
	<link rel="stylesheet" type="text/css" media="all" href="/static/styles/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/static/styles/styles.css" />
</head>
<body id="error-page">
	<div id="wrapper">
		<div id="header">
			<img src="/static/graphics/logo.png" alt="" id="logo" />
		</div> <!-- /header -->
	
		<div id="content">
			<div id="internal_error" class="rounded-corners">
				<div class="top-left"></div>
				<div class="top-right"></div>
				<div class="bottom-left"></div>
				<div class="bottom-right"></div>
				<div class="bottom-border"></div>
				<div class="left-border"></div>
				<div class="right-border"></div>
		
				<h2>Internal error</h2>
				<p>Sorry about that. sib-tcp probably needs to be kicked
				once again.</p>
				<p><a href="{% url frontpage %}">Back to frontpage</a>
			</div> <!-- internal_error -->
		</div> <!-- /content -->
	</div> <!-- /wrapper -->
	
	<div id="footer">
		<p>&copy; CloudSizzle 2010</p>
	</div> <!-- /footer -->
</body>
</html>
