<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>CloudSizzle</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="description" content="SITE DESCRIPTION"/>
	<meta name="keywords" content=""/>
	<link rel="stylesheet" type="text/css" media="all" href="/static/styles/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/static/styles/styles.css" />
</head>
<body id="login-page">
	<div id="wrapper">
		<div id="header">
			<img src="/static/graphics/logo.png" alt="" id="logo" />
			
			<div id="login">
				<form method="post" action="{% url frontpage %}">
					<div>
						{% for field in loginform %}
							{{ field }}
                        {% endfor %}
						<input type="submit" name="submit" value="Login" class="button" />
					</div>
				</form>
			</div> <!-- /login -->
		</div> <!-- /header -->
		
		<div id="content">
			<div id="sign-up" class="rounded-corners">
				<div class="top-left"></div>
				<div class="top-right"></div>
				<div class="bottom-left"></div>
				<div class="bottom-right"></div>
				<div class="bottom-border"></div>
				<div class="left-border"></div>
				<div class="right-border"></div>
				
				<h2>Sign up</h2>
				<span>Fields marked with * are mandatory</span>
				
				{% if registerform.errors %}
					<p class="errors">
					{% for field in registerform %}
						{% if field.errors %}
							{% for error in field.errors %}
								{{ error|escape }}<br />
							{% endfor %}
						{% endif %}
					{% endfor %}
					</p>
				{% endif %}
				
				<form method="post" action="{% url frontpage %}">
					{% for field in registerform %}
					<div>
						{{ field.label_tag }}
						{{ field }}
					</div>
					{% endfor %}
					<div>
						<input type="submit" name="submit" value="Sign up" class="button" />
					</div>
				</form>
			</div>
		</div> <!-- /content -->
	</div><!-- wrapper -->
	
	<div id="footer">
		<p>&copy; CloudSizzle 2010</p>
	</div> <!-- /footer -->
	
</body>
</html>
