{% extends "base.html" %}

{% block content %}
    
        <div id="content">    <ul id="breadcrumb">
        <li><a href="{% url home %}">Home</a> &gt;</li>
        <li>Notifications</li>
    </ul>
    
    <div class="rounded-corners">
        <div class="top-left"></div>
        <div class="top-right"></div>
        <div class="bottom-left"></div>
        <div class="bottom-right"></div>
        <div class="bottom-border"></div>
        <div class="left-border"></div>
        <div class="right-border"></div>
    
        <h1>Notifications</h1>
    
        <div class="notification-list">
    
            {% if notifications %}
                <h2>Course recommendations</h2>
            {% endif %}
    
            {% for notification in notifications %}
                <div class="notification-item{% if forloop.last %} last{% endif %}">
                    <a href="{{notification.user_scr}}"><img src="{{notification.img_scr}}/small_thumbnail" alt=""></a>
                    <p><a href="{{notification.user_scr}}">{{notification.user_name}}</a> {{notification.action}} <a href="{{notification.object_scr}}">{{notification.object_name}}</a></p>
                    <p class="date">{{notification.update_time|timesince}} ago</p>
    
                    <form method="post" action="#">
                        <div>
                            <input type="hidden" value="{{notification.object_scr}}" name="plan course"/>
                            <input name="plan_to_take" value="Plan to take" class="button" type="submit">
                        </div>
                    </form>
                    <form method="post" action="{% url delete_notifications %}">
                        <div>
                            <input type="hidden" value="{{notification.object_scr}}" name="plan course"/>
                            <input name="ignore" value="Ignore" class="button" type="submit" >
                        </div>
                    </form>
                </div>
            {% endfor %}
    
        </div> <!-- /notifications -->
    
        <div class="notification-list">
    
            {% if requests %}
                <h2>Pending friend requests</h2>
            {% endif %}
    
            {% for request in requests %}
                <div class="notification-item{% if forloop.last %} last{% endif %}">
                    <a href="{% url profile request.user_id %}"><img src="{{ ASI_BASE_URL }}{{ request.avatar.link.href }}/small_thumbnail" alt="" /></a>
                    <p><a href="{% url profile request.user_id %}">{{ request.username }}</a> has requested you as a friend</p>
                    <form method="post" action="{% url addfriend request.user_id %}">
                        <div>
                            <input name="friend_id" value="{{ request.user_id }}" type="hidden">
                            <input name="remove" value="Accept" class="button" type="submit">
                        </div>
                    </form>
                </div>
            {% endfor %}

        </div> <!-- /notifications -->
    
    
    </div>
        </div> <!-- /content -->
    
{% endblock content %}
