{% extends "base.html" %}

{% block content %}
		
		<div id="content">	<ul id="breadcrumb">
		<li><a href="http://lyrion.net/cloudsizzle/home.php">Home</a> &gt;</li>
		<li><a href="http://lyrion.net/cloudsizzle/profile.php">Profile</a> &gt;</li>
		<li>Planned courses</li>
	</ul>
	
	<div id="profile" class="rounded-corners-tab">
		
		<ul class="tabs">
			<li>
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<span class="bottom-border"></span>
				<a href="http://lyrion.net/cloudsizzle/profile.php">Profile</a>
			</li>
			<li>
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<span class="bottom-border"></span>
				<a href="http://lyrion.net/cloudsizzle/friends.php">Friends</a>
			</li>
			<li class="selected">
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<a href="http://lyrion.net/cloudsizzle/planned_courses.php">Courses</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="top-right"></div>
			<div class="bottom-left"></div>
			<div class="bottom-right"></div>
			<div class="bottom-border"></div>
			<div class="right-border"></div>
			<div class="left-border"></div>
			
		</div><!-- wrapper -->
		{% endblock content %}
