<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


	<title>CloudSizzle</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="imagetoolbar" content="no">
	<meta name="description" content="CloudSizzle">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" media="all" href="privacy_files/reset.css">
	<link rel="stylesheet" type="text/css" media="all" href="privacy_files/styles.css">
</head><body id="courses-page">
	<div id="wrapper">
		<div id="header">
			<img src="privacy_files/logo_small.png" alt="" id="logo">
			
			<ul class="main-nav">
				<li><a href="http://lyrion.net/cloudsizzle/home.php">Home</a></li>
				<li><a href="http://lyrion.net/cloudsizzle/profile.php">Profile</a></li>
				<li><a href="http://lyrion.net/cloudsizzle/courses.php">Courses</a></li>
			</ul> <!-- /main-nav -->
			
			<ul class="main-nav" id="sub-nav">
				<li><a href="http://lyrion.net/cloudsizzle/general_info.php">Settings</a></li>
				<li><a href="#">Logout</a></li>
			</ul> <!-- /sub-nav -->
			
			
			<div id="search">
				<form method="post" action="search.php">
					<div>
						<input name="query" type="text">
						<input name="submit" type="hidden">
						<input src="privacy_files/search_btn.png" name="submit_btn" value="Search" class="search-button" type="image">
					</div>
				</form>
			</div> <!-- /search -->
		</div> <!-- /header -->
		
		<div id="content">	<ul id="breadcrumb">
		<li><a href="http://lyrion.net/cloudsizzle/home.php">Home</a> &gt;</li>
		<li><a href="http://lyrion.net/cloudsizzle/general_info.php">Settings</a> &gt;</li>
		<li>Privacy</li>
	</ul>

	<div id="settings" class="rounded-corners-tab">
		
		<ul class="tabs">
			<li>
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<span class="bottom-border"></span>
				<a href="http://lyrion.net/cloudsizzle/general_info.php">General info</a>
			</li>
			<li class="selected">
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<a href="http://lyrion.net/cloudsizzle/privacy.php">Privacy</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="top-right"></div>
			<div class="bottom-left"></div>
			<div class="bottom-right"></div>
			<div class="bottom-border"></div>
			<div class="right-border"></div>
			<div class="left-border"></div>
			
			<h1>Your privacy settings</h1>
			
			<form method="post" action="#" enctype="multipart/form-data" id="privacy">
				<div>
					<label for="planned-courses">Your planned courses</label>
					<select name="planned_courses" id="planned-courses">
						<option value="" selected="selected">All</option>
						<option value="">Friends</option>
						<option value="">Only me</option>
					</select>
				</div>
				<div>
					<label for="completed-courses">Your completed courses</label>
					<select name="completed_courses" id="completed-courses">
						<option value="">All</option>
						<option value="">Friends</option>
						<option value="" selected="selected">Only me</option>
					</select>
				</div>
				<div>
					<label for="registrations">Your registrations</label>
					<select name="registrations" id="registrations">
						<option value="">All</option>
						<option value="" selected="selected">Friends</option>
						<option value="">Only me</option>
					</select>
				</div>
				<div>
					<label for="profile">Your profile</label>
					<select name="profile" id="profile">
						<option value="">All</option>
						<option value="" selected="selected">Friends</option>
						<option value="">Only me</option>
					</select>
				</div>
				<div>
					<input name="submit" value="Save" class="button" type="submit">
				</div>
			</form>
		</div>
	</div> <!-- /settings -->
		</div> <!-- /content -->
		
	</div><!-- wrapper -->
	
	<div id="footer">
		<p>© CloudSizzle 2010</p>
	</div> <!-- /footer -->
	
</body></html>