{% extends "frontpage/profile_courses.html" %}

{% block profile-courses-content %}
<h2>Completed studies</h2>
				
<table>
	<thead>
		<tr>
			<th>Course code</th>
			<th>Course name</th>
			<th>Credits</th>
			<th>Grading</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody
		{% for course in courses %}>
		<tr{% if forloop.counter|divisibleby:2 %} class="even"{% endif %}>
			<td>{{ course.code }}</td>
			<td>{{ course.name }}</td>
			<td>{% if course.cr %}{{ course.cr }} cr{% else %}{{course.ocr}} ocr{% endif %}</td>
			<td>{{ course.grade }}</td>
			<td>{{ course.date }}</td>
		</tr
		{% endfor %}>
	</tbody>
</table>

{% endblock profile-courses-content %}
