{% extends "frontpage/profile_base.html" %}
{% block profile-content %}
			<div class="left-col">
				<h2>{{ username }}</h2>
				<img src="{{ user_pic }}" alt="">
			</div>
			
			<div class="right-col">
				<h3>{{ real_name }}</h3>
				<p>Sex: {{ sex }}</p>
				<p>Email: {{ email }}</p>
				
				<div id="personal-news-feed">
					<h3>News feed</h3>
				
					<div class="feed-item">
						<a href="#"><img src="../static/graphics/profile_picture_small.jpg" alt=""></a>
						<p><a href="#">Jari</a> enrolled to <a href="#">T-76.5115 Software Development Project II</a></p>
						<p class="date">2 hours ago</p>
					</div> <!-- /feed-item -->
					
					<div class="feed-item">
						<a href="#"><img src="../static/graphics/profile_picture_small.jpg" alt=""></a>
						<p><a href="#">Jari</a> enrolled to <a href="#">T-76.5115 Software Development Project II</a></p>
						<p class="date">2 hours ago</p>
					</div> <!-- /feed-item -->
					
					<div class="feed-item">
						<a href="#"><img src="../static/graphics/profile_picture_small.jpg" alt=""></a>
						<p><a href="#">Jari</a> enrolled to <a href="#">T-76.5115 Software Development Project II</a></p>
						<p class="date">2 hours ago</p>
					</div> <!-- /feed-item -->
					
					<div class="feed-item last">
						<a href="#"><img src="../static/graphics/profile_picture_small.jpg" alt=""></a>
						<p><a href="#">Jari</a> enrolled to <a href="#">T-76.5115 Software Development Project II</a></p>
						<p class="date">2 hours ago</p>
					</div> <!-- /feed-item -->
				</div>
			</div> <!-- right-col -->
{% endblock profile-content %}
