{% extends "frontpage/profile_courses.html" %}

{% block title %}CloudSizzle | Profile | {{ profile_user.username }} | Friends' courses{% endblock title %}

{% block profile-courses-content %}
    <h2>Friend's courses</h2>

    {% if courses %}
    <table class="profile-courses">
        <thead>
            <tr>
                <th>Course code</th>
                <th>Course name</th>
                <th>Credits</th>
                <th>Friends</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr {% if forloop.counter|divisibleby:2 %} class="odd"{% endif %}>
                <td><a href="{% url show_course course.faculty course.department course.code %}">{{ course.code }}</a></td>
                <td><a href="{% url show_course course.faculty course.department course.code %}">{{ course.name }}</a></td>
                <td>{{ course.extent }} cr</td>
                <td>{{ course.friendcount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Friends have no planned courses.</p>
    {% endif %}

{% endblock profile-courses-content %}
