{% extends "frontpage/profile_base.html" %}

{% block title %}CloudSizzle | Profile | {{ profile_user.username }} | Courses{% endblock title %}

{% block profile-content %}
        <h1>{{ profile_user.username }}'s courses</h1>
        
        <ul id="courses-sub-menu">
            <li{% ifequal template 'profile_courses_planned' %} class="selected"{% endifequal %}>
                <a href="{% url plannedcourses profile_user.user_id %}">Planned courses</a>
            </li>
            <li{% ifequal template 'profile_courses_completed' %} class="selected"{% endifequal %}>
                <a href="{% url completed_courses profile_user.user_id %}">Completed studies</a>
            </li>
            <li{% ifequal template 'profile_courses_friends' %} class="selected"{% endifequal %}>
                <a href="{% url friendscourses profile_user.user_id %}">Friends' courses</a>
            </li>
        </ul>
        
        <div class="right-col-courses">
            {% block profile-courses-content %}
            {% endblock profile-courses-content %}
        </div>
{% endblock profile-content %}
