{% extends "frontpage/profile_base.html" %}

{% block title %}CloudSizzle | Profile | {{ profile_user.username }} | Courses{% endblock title %}

{% block profile-content %}
			<h1>{{ profile_user.username }}'s courses</h1>
			
			<div class="left-col">
				<ul id="courses-sub-menu">
					<li{% ifnotequal template 'profile_courses_planned' %} class="selected"{% endifnotequal %}>
						<a href="{% url plannedcourses profile_user.user_id %}">Planned courses</a>
					</li>
					<li{% ifnotequal template 'profile_courses_completed' %} class="selected"{% endifnotequal %}>
						<a href="{% url completed_courses profile_user.user_id %}">Completed studies</a>
					</li>
					<li{% ifnotequal template 'profile_courses_friends' %} class="selected"{% endifnotequal %}>
						<a href="{% url friendscourses profile_user.user_id %}">Friends' courses</a>
					</li>
				</ul>
			</div>
			
			<div class="right-col">
				{% block profile-courses-content %}
				{% endblock profile-courses-content %}
			</div>
{% endblock profile-content %}
