{% extends "base.html" %}

{% block content %}
		
		<div id="content">	<ul id="breadcrumb">
		<li><a href="{% url home %}">Home</a> &gt;</li>
		<li>Profile</li>
	</ul>

	<div id="profile" class="rounded-corners-tab">
		
		<ul class="tabs">
			<li class="selected">
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<a href="{% url frontpage.views.profile profile_user.user_id %}">Profile</a>
			</li>
			<li>
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<span class="bottom-border"></span>
				<a href="{% url frontpage.views.profile profile_user.user_id %}/friends/">Friends</a>
			</li>
			<li>
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<span class="bottom-border"></span>
				<a href="{% url frontpage.views.profile profile_user.user_id %}/planned_courses/">Courses</a>
			</li>
		</ul> <!-- /tabs -->
		
		<div class="tab-content">
			<div class="top-right"></div>
			<div class="bottom-left"></div>
			<div class="bottom-right"></div>
			<div class="bottom-border"></div>
			<div class="right-border"></div>
			<div class="left-border"></div>
			
			<div class="left-col">
				<h2>{{ username }}</h2>
				
				<img src={{user_pic}} alt="">
			</div>
			
			<div class="right-col">
				<h3>{{ real_name }}</h3>
				<p>Sex: {{ sex }}</p>
				<p>Email: {{ email }}</p>
				
				<div id="personal-news-feed">
					<h3>News feed</h3>
				
					<div class="feed-item">
						<a href="#"><img src="../static/graphics/profile_picture_small.jpg" alt=""></a>
						<p><a href="#">Jari</a> enrolled to <a href="#">T-76.5115 Software Development Project II</a></p>
						<p class="date">2 hours ago</p>
					</div> <!-- /feed-item -->
					
					<div class="feed-item">
						<a href="#"><img src="../static/graphics/profile_picture_small.jpg" alt=""></a>
						<p><a href="#">Jari</a> enrolled to <a href="#">T-76.5115 Software Development Project II</a></p>
						<p class="date">2 hours ago</p>
					</div> <!-- /feed-item -->
					
					<div class="feed-item">
						<a href="#"><img src="../static/graphics/profile_picture_small.jpg" alt=""></a>
						<p><a href="#">Jari</a> enrolled to <a href="#">T-76.5115 Software Development Project II</a></p>
						<p class="date">2 hours ago</p>
					</div> <!-- /feed-item -->
					
					<div class="feed-item last">
						<a href="#"><img src="../static/graphics/profile_picture_small.jpg" alt=""></a>
						<p><a href="#">Jari</a> enrolled to <a href="#">T-76.5115 Software Development Project II</a></p>
						<p class="date">2 hours ago</p>
					</div> <!-- /feed-item -->
				</div>
			</div>
		</div>
	</div> <!-- /profile -->
		</div> <!-- /content -->
		

{% endblock content %}
