{% extends "base.html" %}

{% block content %}
		
		<div id="content">	<ul id="breadcrumb">
		<li><a href="http://lyrion.net/cloudsizzle/home.php">Home</a> &gt;</li>
		<li><a href="http://lyrion.net/cloudsizzle/profile.php">Profile</a> &gt;</li>
		<li>Registrations</li>
	</ul>
	
	<div id="profile" class="rounded-corners-tab">
		
		<ul class="tabs">
			<li>
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<span class="bottom-border"></span>
				<a href="http://lyrion.net/cloudsizzle/profile.php">Profile</a>
			</li>
			<li>
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<span class="bottom-border"></span>
				<a href="http://lyrion.net/cloudsizzle/friends.php">Friends</a>
			</li>
			<li class="selected">
				<span class="tab-left"></span>
				<span class="tab-right"></span>
				<span class="left-border"></span>
				<span class="right-border"></span>
				<a href="http://lyrion.net/cloudsizzle/planned_courses.php">Courses</a>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="top-right"></div>
			<div class="bottom-left"></div>
			<div class="bottom-right"></div>
			<div class="bottom-border"></div>
			<div class="right-border"></div>
			<div class="left-border"></div>
			
			<h1>Username's courses</h1>
			
			<div class="left-col">
				<ul id="courses-sub-menu">
					<li><a href="http://lyrion.net/cloudsizzle/planned_courses.php">Planned courses</a></li>
					<li class="selected"><a href="http://lyrion.net/cloudsizzle/registrations.php">Registrations</a></li>
					<li><a href="http://lyrion.net/cloudsizzle/completed_studies.php">Completed studies</a></li>
					<li><a href="http://lyrion.net/cloudsizzle/friends_courses.php">Friends' courses</a></li>
				</ul>
			</div>
			
			<div class="right-col">
				<h2>Registrations</h2>
				
				<table>
					<thead>
						<tr>
							<th>Course code</th>
							<th>Course name</th>
							<th>Credits</th>
							<th>Friends</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#">T-106.5250</a></td>
							<td><a href="#">Distributed Systems</a></td>
							<td>5cr</td>
							<td>3</td>
						</tr>
						<tr class="even">
							<td><a href="#">T-106.5250</a></td>
							<td><a href="#">Distributed Systems</a></td>
							<td>5cr</td>
							<td>3</td>
						</tr>
						<tr>
							<td><a href="#">T-106.5250</a></td>
							<td><a href="#">Distributed Systems</a></td>
							<td>5cr</td>
							<td>3</td>
						</tr>
						<tr class="even">
							<td><a href="#">T-106.5250</a></td>
							<td><a href="#">Distributed Systems</a></td>
							<td>5cr</td>
							<td>3</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</div> <!-- /profile -->
		</div> <!-- /content -->
{% endblock content %}
