<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


	<title>CloudSizzle</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="imagetoolbar" content="no">
	<meta name="description" content="CloudSizzle">
	<meta name="keywords" content="">
	<link rel="stylesheet" type="text/css" media="all" href="search_files/reset.css">
	<link rel="stylesheet" type="text/css" media="all" href="search_files/styles.css">
</head><body id="courses-page">
	<div id="wrapper">
		<div id="header">
			<img src="search_files/logo_small.png" alt="" id="logo">
			
			<ul class="main-nav">
				<li><a href="http://lyrion.net/cloudsizzle/home.php">Home</a></li>
				<li><a href="http://lyrion.net/cloudsizzle/profile.php">Profile</a></li>
				<li><a href="http://lyrion.net/cloudsizzle/courses.php">Courses</a></li>
			</ul> <!-- /main-nav -->
			
			<ul class="main-nav" id="sub-nav">
				<li><a href="http://lyrion.net/cloudsizzle/general_info.php">Settings</a></li>
				<li><a href="#">Logout</a></li>
			</ul> <!-- /sub-nav -->
			
			
			<div id="search">
				<form method="post" action="search.php">
					<div>
						<input name="query" type="text">
						<input name="submit" type="hidden">
						<input src="search_files/search_btn.png" name="submit_btn" value="Search" class="search-button" type="image">
					</div>
				</form>
			</div> <!-- /search -->
		</div> <!-- /header -->
		
		<div id="content">	
	<ul id="breadcrumb">
		<li><a href="http://lyrion.net/cloudsizzle/home.php">Home</a> &gt;</li>
		<li>Search</li>
	</ul>
	
	<div id="advanced-search" class="rounded-corners">
		<div class="top-left"></div>
		<div class="top-right"></div>
		<div class="bottom-left"></div>
		<div class="bottom-right"></div>
		<div class="bottom-border"></div>
		<div class="left-border"></div>
		<div class="right-border"></div>
		
		<h1>Search</h1>
		
		<form method="post" action="#">
			<div>
				<label for="query">Keywords</label>
				<input name="query" id="query" type="text">
			</div>
			<div>
				<label for="search-option">Search option</label>
				<select name="search_option" id="search-option">
					<option value="">All content</option>
					<option value="">Courses</option>
					<option value="">Users</option>
				</select>
			</div>
			<div>
				<input name="search" value="Search" class="button" type="submit">
			</div>
		</form>
		
		<h2>Search results</h2>
		
		<p>Results 0-10 of 153 hits for the keyword "T-76.5115"</p>
		
		<ul class="pagination">
			<li><a href="#">&lt; Previous</a></li>
			<li><a href="#">1</a></li>
			<li>…</li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li class="selected"><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li>…</li>
			<li><a href="#">53</a></li>
			<li><a href="#">Next &gt;</a></li>
		</ul>
		
		<div id="search-results">
			<div class="search-result course">
				<p class="type">Course</p>
				<h3><a href="#">T-76.5115 Software Development Project II</a></h3>
			</div>
			
			<div class="search-result user">
				<p class="type">User</p>
				<img src="search_files/profile_picture_small.jpg" alt="">
				<h3><a href="#">mmeikalaine</a></h3>
				<p>2 mutual friends</p>
				<p>3 mutual courses</p>
			</div>
			
			<div class="search-result course">
				<p class="type">Course</p>
				<h3><a href="#">T-76.5115 Software Development Project II</a></h3>
			</div>
			
			<div class="search-result user">
				<p class="type">User</p>
				<img src="search_files/profile_picture_small.jpg" alt="">
				<h3><a href="#">mmeikalaine</a></h3>
				<p>2 mutual friends</p>
				<p>3 mutual courses</p>
			</div>
			
			<div class="search-result course">
				<p class="type">Course</p>
				<h3><a href="#">T-76.5115 Software Development Project II</a></h3>
			</div>
			
			<div class="search-result user">
				<p class="type">User</p>
				<img src="search_files/profile_picture_small.jpg" alt="">
				<h3><a href="#">mmeikalaine</a></h3>
				<p>2 mutual friends</p>
				<p>3 mutual courses</p>
			</div>
			
			<div class="search-result course">
				<p class="type">Course</p>
				<h3><a href="#">T-76.5115 Software Development Project II</a></h3>
			</div>
			
			<div class="search-result user last">
				<p class="type">User</p>
				<img src="search_files/profile_picture_small.jpg" alt="">
				<h3><a href="#">mmeikalaine</a></h3>
				<p>2 mutual friends</p>
				<p>3 mutual courses</p>
			</div>
		</div> <!-- /search-results -->
		
		<ul class="pagination">
			<li><a href="#">&lt; Previous</a></li>
			<li><a href="#">1</a></li>
			<li>…</li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li class="selected"><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li>…</li>
			<li><a href="#">53</a></li>
			<li><a href="#">Next &gt;</a></li>
		</ul>
		
		
	</div> <!-- /advanced-search -->
		</div> <!-- /content -->
		
	</div><!-- wrapper -->
	
	<div id="footer">
		<p>© CloudSizzle 2010</p>
	</div> <!-- /footer -->
	
</body></html>