{% extends "base.html" %}

{% block content %}
		
	<div id="content">	
	<ul id="breadcrumb">
		<li><a href="{% url frontpage %}">Home</a> &gt;</li>
		<li>Search</li>
	</ul>
	
	<div id="advanced-search" class="rounded-corners">
		<div class="top-left"></div>
		<div class="top-right"></div>
		<div class="bottom-left"></div>
		<div class="bottom-right"></div>
		<div class="bottom-border"></div>
		<div class="left-border"></div>
		<div class="right-border"></div>
		
		<h1>Search</h1>
		
		<form method="get" action="{% url search %}">
			{% for field in searchform %}<div>
				{{ field.errors }}
				{{ field.label_tag }}
                                {{ field }}
                        </div>
                        {% endfor %}
			<div>
				<input name="search" value="Search" class="button" type="submit">
			</div>
		</form>
		
		<h2>Search results</h2>
		
		<p>Results 0-10 of {{ results|length }} hits for the keyword "{{ query }}"</p>
		
		<ul class="pagination">
			<li><a href="#">&lt; Previous</a></li>
			<li><a href="#">1</a></li>
			<li></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li class="selected"><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li>…</li>
			<li><a href="#">53</a></li>
			<li><a href="#">Next &gt;</a></li>
		</ul>
		
		<div id="search-results">
			{% for result in results %}
			{% ifequal result.type 'course' %}
			<div class="search-result course">
				<p class="type">Course</p>
				<h3><a href="#">{{ result.code }} {{ result.name }}</a></h3>
			</div>
			{% endifequal %}
			{% ifequal result.type 'user' %}
			<div class="search-result user">
				<p class="type">User</p>
				<img src="/static/graphics/profile_picture_small.jpg" alt="">
				<h3><a href="{% url profile result.userid %}">{{ result.username }}</a></h3>
				<p>2 mutual friends</p>
				<p>3 mutual courses</p>
			</div>
			{% endifequal %}
			{% endfor %}
		</div> <!-- /search-results -->
		
		<ul class="pagination">
			<li><a href="#">&lt; Previous</a></li>
			<li><a href="#">1</a></li>
			<li>…</li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li class="selected"><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">9</a></li>
			<li><a href="#">10</a></li>
			<li>…</li>
			<li><a href="#">53</a></li>
			<li><a href="#">Next &gt;</a></li>
		</ul>
		
		
	</div> <!-- /advanced-search -->
		</div> <!-- /content -->
		
		
{% endblock content %}
