{% extends "base.html" %}

{% block title %}CloudSizzle | Search{% endblock title %}

{% block content %}
    
    <div id="content">    
        <ul id="breadcrumb">
            <li><a href="{% url frontpage %}">Home</a> &gt;</li>
            <li>Search</li>
        </ul>
    
        <div id="advanced-search" class="rounded-corners">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="bottom-border"></div>
            <div class="left-border"></div>
            <div class="right-border"></div>
    
            <h1>Search</h1>
    
            <form method="get" action="{% url search %}">
                {% for field in searchform %}
                    <div>
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div>
                    <input name="search" value="Search" class="button" type="submit" />
                </div>
            </form>
    
            {% if courseresults or userresults %}
                <h2>Search results</h2>
            {% else %}
                <h2>No results</h2>
            {% endif %}

        {# The mess below prints out the amount of different types of hits #}

            {# Amount of course results #}
            {% if courseresults or userresults %}
                {% if courseresults %}
                    <p>{{ courseresults|length }} course hits
                {% endif %}
                {# Amount of userresults #}
                {% if userresults %}
                    {# Fixes the sentence if there were courseresults already #}
                    {% if courseresults %}and{% else %}<p>{% endif %}
                    {{ userresults|length }} user hits
                {% endif %}
                for the keyword "{{ query }}"</p>
            {% endif %}
    
    <!--    
            <ul class="pagination">
                <li><a href="#">&lt; Previous</a></li>
                <li><a href="#">1</a></li>
                <li></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li class="selected"><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>…</li>
                <li><a href="#">53</a></li>
                <li><a href="#">Next &gt;</a></li>
            </ul>
    -->
    
            {% if courseresults %}
            <h3>Courses</h3>
                <table class="courses">
                    <thead>
                        <tr>
                            <th>Course code</th>
                            <th>Course name</th>
                            <th>Friends</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in courseresults %}
                            <tr>
                                <td><a href="{% url show_course result.faculty result.department result.code %}">{{ result.code }}</a></td>
                                <td><a href="{% url show_course result.faculty result.department result.code %}">{{ result.name }}</a></td>
                                <td>{{ result.friendcount }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
    
            {% if userresults %}
            <h3>Users</h3>
                <table class="users">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Username</th>
                            <th>Mutual friends</th>
                            <th>Mutual courses</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in userresults %}
                            <tr>
                                <td><a href="{% url profile result.user_id %}"><img src="{{ ASI_BASE_URL }}{{ result.avatar.link.href }}/small_thumbnail" alt="" /></a></td>
                                <td><a href="{% url profile result.user_id %}">{{ result.username }}</a></td>
                                <td>{{ result.mutual_friends|length }}</td>
                                <td>{{ result.mutual_courses|length }}</td>
                                <td>
                                    <form method="post" action="{% url addfriend result.user_id %}">
                                        <div>
                                            <input type="submit" name="add_friend" value="Add friend" class="button" />
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
    <!--
            <ul class="pagination">
                <li><a href="#">&lt; Previous</a></li>
                <li><a href="#">1</a></li>
                <li>…</li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li class="selected"><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>…</li>
                <li><a href="#">53</a></li>
                <li><a href="#">Next &gt;</a></li>
            </ul>
    -->
    
        </div> <!-- /advanced-search -->
    </div> <!-- /content -->
    
    
{% endblock content %}
