{% extends "base.html" %}

{% block content %}

	
<div id="content">
	<ul id="breadcrumb">
		<li>Home &gt; Welcome</li>
	</ul>

	<div id="welcome" class="rounded-corners">
		<div class="top-left"></div>
		<div class="top-right"></div>
		<div class="bottom-left"></div>
		<div class="bottom-right"></div>
		<div class="bottom-border"></div>
		<div class="left-border"></div>
		<div class="right-border"></div>
		
		<h2>Welcome</h2>
		
	</div> <!-- /notifications -->
</div> <!-- /content -->
		
{% endblock content %}
